# script for stm32

source [find interface/ftdi/olimex-arm-usb-ocd.cfg]
source [find target/stm32f1x_flash.cfg]

# flash bank $_FLASHNAME stm32f1x 0x08000000 0x00010000 0 0 0

init

mt_flash_bin tmpflash.bin 0x8000000
shutdown

